@inherits SimpleComponentBase
<div class="ant-tabs ant-tabs-top ant-tabs-card">
    <div class="ant-tabs-nav">
        <div class="ant-tabs-nav-wrap">
            <div class="ant-tabs-nav-list" style="transform: translate(0px, 0px);">
                @Header
            </div>
        </div>
    </div>
    <div class="ant-tabs-content-holder">
        <div class="ant-tabs-content ant-tabs-content-top">
            @Panel
        </div>
    </div>
</div>